@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
}

::-webkit-scrollbar-thumb {
  background-color: #46760a;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #325507;
}

.heading {
  @apply mb-4 font-display font-semibold;
}

.customH1 {
  @apply heading text-3xl;
}

.customH2 {
  @apply heading text-2xl;
}

.customH3 {
  @apply heading text-lg;
}

.customH4 {
  @apply heading text-base;
}

.customH5 {
  @apply heading text-sm;
}
