@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

/* main scroller */

::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
}

::-webkit-scrollbar-thumb {
  background-color: #46760a;
  border-radius: 40px;
  border: 2px solid #ebebeb;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #325507;
}

.app *::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
  border: 40px;
}

.app *::-webkit-scrollbar-thumb {
  border-radius: 40px;
  border: 1px solid #ebebeb;
}

@media (max-width: 910px) {
  ::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 20px;
  }

  .app *::-webkit-scrollbar {
    width: 0.2rem;
    height: 0.2rem;
    border: 20px;
  }

  .app *::-webkit-scrollbar-thumb {
    border-radius: 20px;
  }
}

/* heading */

.heading {
  @apply mb-4 font-display font-semibold;
}

/* custom headers */

.customH1 {
  @apply heading text-3xl;
}

.customH2 {
  @apply heading text-2xl;
}

.customH3 {
  @apply heading text-lg;
}

.customH4 {
  @apply heading text-base;
}

.customH5 {
  @apply heading text-sm;
}

/* custom title-content pairs */

.largeTitle {
  @apply customH1;
}

.largeContent {
  @apply customH2;
}

.mediumTitle {
  @apply customH2;
}

.mediumContent {
  @apply customH3;
}

.smallTitle {
  @apply customH3;
}

.smallContent {
  @apply customH4;
}
